<p-toast></p-toast>
  <div class="product-list">
    <h2>Lista de Productos</h2>
    <p-confirmDialog></p-confirmDialog> 
    <p-table [value]="products" [paginator]="true" [rows]="5" [responsiveLayout]="'scroll'" [style]="{ width: '60%' }">
      <ng-template pTemplate="header">
        <tr class="title">
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Categoría</th>
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{ product.nombre }}</td>
            <td>{{ product.descripcion }}</td> 
            <td>{{ product.precio | currency }}</td>
            <td>{{ product.categoria }}</td> 
            
          <!-- Botón verde para Editar -->
        <td>
        <div class="button-container">
          <button 
            pButton
            label="Editar" 
            class="p-button-success p-button-rounded" 
            (click)="openEditModal(product)">
          </button>


          <!-- Botón rojo para Eliminar -->
          <button 
            pButton 
            label="Eliminar" 
            class="p-button-danger p-button-rounded" 
            (click)="confirmDelete(product)">
          </button>

            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  
  

  <!-- Formulario del Modal de Edición -->
  <p-dialog header="Editar Producto" [(visible)]="displayEditModal" [modal]="true" [closable]="false" [style]="{ width: '20vw' }">
    <form [formGroup]="editForm" >
      <div class="field">
        <label for="nombre">Nombre:</label>
        <input id="nombre" formControlName="nombre" type="text" pInputText />
        <small *ngIf="editForm.get('nombre')?.invalid && editForm.get('nombre')?.touched" class="p-error">
          El nombre es requerido (mínimo 3 caracteres).
        </small>
      </div>
  
      <div class="field">
        <label for="descripcion">Descripción:</label>
        <input id="descripcion" formControlName="descripcion" type="text" pInputText />
        <small *ngIf="editForm.get('descripcion')?.invalid && editForm.get('descripcion')?.touched" class="p-error">
          La descripción es requerida.
        </small>
      </div>
  
      <div class="field">
        <label for="precio">Precio:</label>
        <input id="precio" formControlName="precio" type="number" pInputText />
        <small *ngIf="editForm.get('precio')?.invalid && editForm.get('precio')?.touched" class="p-error">
          El precio debe ser mayor a 0.
        </small>
      </div>
  
      <div class="field">
        <label for="categoria">Categoría:</label>
        <p-dropdown 
          id="categoria" class="categoria" [options]="categorias" formControlName="categoria" placeholder="Selecciona una categoría"  appendTo="body">
        </p-dropdown>
        <small *ngIf="editForm.get('categoria')?.invalid && editForm.get('categoria')?.touched" class="p-error">
          La categoría es requerida.
        </small>
      </div>
      
  
      <p-footer>
        <button type="button" pButton label="Guardar" class="p-button-success modal-boton" (click)="confirmEdit()" [disabled]="editForm.invalid">
      </button>
        <button type="button"  pButton label="Cancelar" class="p-button-secondary modal-boton" (click)="closeEditModal()"></button>
      </p-footer>
    </form>
  </p-dialog>
  
  