<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<div class="product-form-container">
    <div class="product-form">
      <h2>Agregar Producto</h2>
      <form [formGroup]="productForm" (ngSubmit)="addProduct()">
        <div class="field">
          <label for="nombre">Nombre:</label>
          <input id="nombre" formControlName="nombre" type="text" pInputText />
          <small *ngIf="productForm.get('nombre')?.invalid  && productForm.get('nombre')?.touched" class="p-error">
            El nombre es requerido
          </small>
        </div>
  
        <div class="field">
          <label for="descripcion">Descripción:</label>
          <input id="descripcion" formControlName="descripcion" type="text" pInputText />
          <small *ngIf="productForm.get('descripcion')?.invalid && productForm.get('descripcion')?.touched" class="p-error">
            La descripción es requerida.
          </small>
        </div>
  
        <div class="field">
          <label for="precio">Precio:</label>
          <input type="number" id="precio" formControlName="precio" pInputText>
          <small *ngIf="productForm.get('precio')?.invalid && productForm.get('precio')?.touched" class="p-error">
            El precio debe ser mayor a 0.
          </small>
        </div>
  
        <div class="field">
          <label for="categoria">Categoría:</label>
          <input type="text" id="categoria" formControlName="categoria" pInputText>
          <small *ngIf="productForm.get('categoria')?.invalid && productForm.get('categoria')?.touched" class="p-error">
            No se puede continuar sin categoría.
          </small>
        </div>
  
        <button 
          type="button" pButton label="Guardar" class="p-button-success" (click)="confirmAddProduct()"  [disabled]="productForm.invalid"></button>
      </form>
    </div>
  </div>
  